#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background-color: #151515;
    padding: 15px;
    z-index: 5;
    position: fixed;
    bottom: 0%;
}

.ylos a {
    font-size: 20px;
    padding: 20px;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: right;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index: 6;
}