.saa {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #151515;
}

.saa-div {
    padding: 15px 0 20% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}

.label {
    transform: translate(7%, 105%);
    background-color: #151515;
    text-align: center;
    width: max-content;
}

.tarjoaja {
    font-size: 10px;
}

#kaupunki,
#button-kaupunki {
    max-width: 100%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background: transparent;
    color: inherit;
    height: 65px;
    resize: none;
}

#button-kaupunki {
    background: rgb(20, 90, 20);
    background-size: contain;
    font-size: 20px;
}

#button-kaupunki:focus,
#button-kaupunki:hover {
    background: rgb(5, 76, 5);
}

.ennustus {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    height: 0;
}

.ennustus-paiva {
    border: 1px solid red;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paivamaara {
    color: orange;
}

.lampotila {
    color: red;
}

.pilvisyys {
    color: green;
}

.virhe {
    color: red;
}

.kohde,
.paikannus-nimi {
    font-size: 25px;
    width: 100%;
    text-align: left;
}

#sijainti {
    background: rgb(106, 255, 0);
    color: black;
    padding: 10px;
    position: fixed;
    top: 5%;
    z-index: 9;
    width: 100%;
}

#sijainti button {
    background: transparent;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    border: 1px solid white;
}

#sijainti button:hover {
    background-color: black;
    color: white;
}

.tunti-saa,
.ennustus-paiva {
    min-width: 140px;
    min-height: 200px;
}

.paikannus-saa {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    height: 0;
}

 ::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: #ff2257;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.tunti-saa {
    border: 1px solid orange;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 140px;
}

.korkeus {
    height: 100%;
}

.hakeminen {
    display: flex;
}

.hakeminen i {
    padding-left: 15px;
}

.hakeminen i:hover {
    color: green;
    cursor: pointer;
}

h4:hover {
    color: green;
    cursor: pointer;
}

@media only screen and (min-width:1000px) {
    .saa-div {
        width: 70%;
        margin: 0 auto;
    }
    #button-kaupunki {
        width: 100%;
    }
    .kohde,
    .paikannus-saa,
    .paikannus-nimi,
    .ennustus {
        width: 100%;
    }
}