/*Headerin muotoilut*/

.piilotettu {
    height: 0px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #151515;
    z-index: 5;
}

.ylapalkki-nimi {
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 46%;
}

.ylapalkki-pikalinkit {
    flex-grow: 1;
    max-height: 0;
    overflow: hidden;
    width: 100%;
}

.pikalinkit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pikalinkit li {
    display: flex;
    flex-direction: row;
}

.pikalinkit li a {
    padding: 0px 10px;
}

.pikalinkit li a:hover,
.pikalinkit li a:focus .hover {
    cursor: pointer;
}

.pikalinkit>* {
    padding: 15px;
    list-style: none;
}

.hampurilainen {
    max-height: 100%;
    width: 50px;
    background: white;
}

.viiva1,
.viiva2,
.viiva3 {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
}

.linkit-nakyy {
    position: absolute;
    top: 78%;
    right: 0;
    width: 100%;
    max-height: 100%;
    max-height: 230px;
    flex-direction: column;
    z-index: 456;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    background: #151515;
}

#pikalinkit a {
    width: 100%;
    display: block;
    height: 100%;
}

.linkit-nakyy>* {
    border: 1px solid white;
    width: 100%;
}

.linkit-nakyy>*>* {
    border: 1px solid white;
}

.vinossa_1 {
    transform: rotate(-130deg)translate(5px, -2px);
    transition: 0.5s all;
}

.vinossa_2 {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s all;
}

.vinossa_3 {
    transform: rotate(310deg) translate(5px, -10px);
    transition: 0.5s all;
}

@media only screen and (max-width:1000px) {
    .ylapalkki-nimi {
        justify-content: flex-start;
    }
    .pikalinkit {
        justify-content: flex-end;
    }
}

@media only screen and (min-width:1200px) {
    .kupla {
        display: none;
    }
    .hampurilainen {
        max-height: 0;
        overflow: hidden;
        display: none;
    }
    .linkit-nakyy {
        position: static;
    }
    .linkit-nakyy>* {
        border: 0;
    }
    .linkit-nakyy>*>* {
        border: 0;
    }
    .ylapalkki-pikalinkit {
        max-height: 100%;
    }
    .pikalinkit {
        flex-direction: row;
    }
}